.navbar {
  background-color: #08316b;
  padding: 50px 30px;
}
.navbarContainer {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  li {
    font-size: 20px;
    font-weight: 700;
  }
}
